.canvasResposive{
  width: 100%;
  
}

#bordeAbajoPunto1{
  margin-bottom: 8%;;
}

.punto1{
  font-family: 'Abel', sans-serif;
  list-style: none; 
  font-weight: bold; 
  text-align: center;
}

.punto1 h1{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 4%;
}

.carousel-inner{
  margin-bottom: -0.4%;
}

.baPunto6{
  margin-top: 8%;
}

.cssPunto6 p {
  font-family: 'Abel', sans-serif;
  font-size: 35px;
  font-weight: bold; 
  text-align: center;
}


h3{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
h3, p, .datosBanda{
  font-family: 'Abel', sans-serif;
}
.mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
}
.mainNav, .bordeArribaNews h1, .bordeAbajoNews h2, .bordeAbajoMusic h2, .bordeArribaMusic h1, .lista li a, .datosBanda h1{
  font-family: 'Fjalla One', sans-serif;
}
.mainNav .navbar-brand {
  font-size: 30px;
  font-weight: 800;
  color: #343a40;
}

.mainNav .navbar-toggler {
  font-size: 15px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #cc1a25;
}
.nav-link, .datosBanda{
  font-size: 20px;
}
.nav-link {
  font-weight: 800;
  letter-spacing: 1px;
  margin-left: 40px;

}

@media only screen and (min-width: 992px) {
  .mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  .mainNav .navbar-brand {
    padding: 10px 30px;
    color: rgb(56, 2, 2);
  }
  .mainNav .navbar-brand:focus, .mainNav .navbar-brand:hover {
    color: #cc1a25;
  }
  .mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #cc1a25;
  }
  .mainNav .navbar-nav > li.nav-item > a:focus, .mainNav .navbar-nav > li.nav-item > a:hover {
    color:  rgb(56, 2, 2);
  }
}
.bordeArribaNews, .bordeArribaCarousel, .bordeArribaMusic, .bordeAbajoNews, .bordeAbajoCarousel, .bordeAbajoMusic{
  background-color: #cc1a25;
}

.bordeArribaNews, .bordeArribaCarousel, .bordeArribaMusic{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.bordeArribaNews h1, .bordeAbajoNews h2, .bordeAbajoMusic h2, .bordeArribaMusic h1{
  color: white;
  margin-left: 20px;
}
.bordeAbajoNews a, .bordeAbajoMusic a{
  text-decoration: none;
}
.bordeAbajoNews h2, .bordeAbajoMusic h2{
  margin-top: 0;
}
.bordeArribaCarousel, .bordeAbajoCarousel, .bordeAbajoNews, .bordeAbajoMusic, .bordeArribaMusic, .bordeArribaNews{
  height: 40px;
  
}
.bordeAbajoNews{
  margin-top: 20px;
}
.bordeArribaNews{
  margin-bottom: 25px;
}
.bordeAbajoNews, .bordeAbajoCarousel, .bordeAbajoMusic{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/*MAINNAV*/
@media only screen and (min-width: 992px) {
  .mainNav {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  .mainNav.is-fixed {/*noc q hace*/
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  .mainNav.is-fixed .navbar-brand:focus, .mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  .mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  .mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, .mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  .mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
/*TERMINA EL MAINNAV*/
header.masthead {
  margin-bottom: 50px;
  background: no-repeat center center;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/headerrs.jpg");
}


header.masthead .overlay {/*ya esta*/
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0;
}

@media only screen and (min-width: 768px) { 
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 250px 0;
  }
}
@media only screen and (max-width: 600px) {
  .noticia a h3{

    font-size: 12px;
  }
  .bordeArribaNews h1, .bordeArribaMusic h1{
    font-size: 25px;
  }
  .bordeAbajoNews h2, .bordeAbajoMusic h2{
    display: none;
  }
  .bordeArribaCarousel{
    margin-top: 20px;
  }

}


/*LISTA*/
.lista li{
  display: inline-block;
  font-weight: bold;
  color: #cc1a25;
}
.datosBanda{
  text-align: center;
}


